body {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 12px;
	overflow-y: scroll;
}

/* color setting from .ui-widget-header background color */
h1 {
	color: #5c9ccc;
	float: left;
	margin: 1em 0em 0em 0em;
	padding: 0em;
}

.link {
	text-decoration: underline;
}

.dialog-links {
	margin-top: 10px;
}

.link:hover {
	cursor: pointer;
}

#topNav {
	height: 160px;
}

#headerFields {
	text-align: right;
}

#company {
	padding: 0px 3px;
}

#company:hover {
	cursor: pointer;
}

#company span {
	display: inline-block;
	height: 16px;
	width: 16px;
}




#logout {
	text-decoration: underline;
}

#logout:hover {
	cursor: pointer;
}

#globalSearch {
	margin: 18px 0px 0px 0px;
}

#globalSearch input[type=text] {
	color: #111111;
	width: 175px;
}

#globalSearch input[type=text]:focus {
	background-color: #dfeffc;
	border: 1px #e17009 solid;
}

#globalSearch input[type=button] {
	margin: 0em 0em 0em .2em;
	padding: .2em;
}

#logoPlaceholder {
	background-image: url("../images/supplierportallogo.png");
	background-repeat: no-repeat;
	width: 355px;
	height: 155px;
}

#menuBar {
	font-size: 1.4em;
}

#menuBar ul.topnav {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 3px;
}

#menuBar ul.topnav li {

	float: left;
	margin: 0px;
	padding: 6px;
	position: relative;
}

#menuBar ul.topnav li span {
	display: block;
}

#menuBar ul.topnav li:hover {
	cursor: pointer;
}

#menuBar ul.subnav {
	list-style: none;
	position: absolute;
	visibility: hidden;
}


#mainContainer {
	border-left: 2px #e17009 solid;
	border-right: 2px #e17009 solid;
}


#updateNotifications {
	display: block;
	margin: 6px 0px 0px 0px;
}

#errors {
	display: block;
	margin: 6px 0px 0px 0px;
}

.progress-guide {
	float: right;
	padding: 12px 0px 0px 0px;
}

.step-progress {
	height: 48px;
	margin: 0px 0px 0px 0px;
}

.step-progress div {
	display: inline-block;
}

.step-progress span.step-description {
	font-size: .8em;
	position: absolute;
	margin-top: 36px;
	width: 72px;
}

.step-progress div.step-active span.step-description {
	font-weight: bold;
}

.step-progress div.step-completed:hover, .step-progress.edit-item div.step-open:hover {
	cursor: pointer;
}

.step-progress div.step-spacer {
	background-image: url(../images/progress-step-spacer.png);
	background-repeat: no-repeat;
	height: 36px;
	width: 36px;
}

.step-progress div.step-completed {
	background-image: url(../images/progress-complete.png);
	background-repeat: no-repeat;
	height: 36px;
	width: 36px;
}

.step-progress div.step-active {
	background-image: url(../images/progress-active.png);
	background-repeat: no-repeat;
	height: 36px;
	width: 36px;
}

.step-progress div.step-open {
	background-image: url(../images/progress-open.png);
	background-repeat: no-repeat;
	height: 36px;
	width: 36px;
}

.page-copy {
	margin-top: 2em;
	margin-bottom: 2em;
}

/* border-color from .ui-state-active */
.form-container {
	margin: 0px 0px 12px 0px;	
}

.form-container fieldset {

	border-color: #79b7e7;
	border-width: 1px;
	margin: 0px 0px 12px 0px;
}

/* border-color from .ui-state-active */
.form-container fieldset legend {
	color: #e17009;
}

.form-container fieldset ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.form-container fieldset ul li {
	margin-bottom: 6px;
}

.form-container .field-label {
	
	width: 175px;
	float: left;
	position:relative;
	padding: 3px;
	vertical-align: top;
}

.form-container .field-value {
	
	width: 240px;
	float: left;
	position:relative;
	vertical-align: middle;
}

.form-container .field-help {
	
	width: 24px;
	float: left;
	position:relative;
	vertical-align: middle;
}

.form-container .field-help:hover {
	cursor: pointer;
}

.form-container .field-info div.highlight-pointer {
	
	background-image: url("../images/highlight-pointer.png");
	background-repeat: no-repeat;
	float: left;
	position: absolute;
	height: 18px;
	width: 18px;
	z-index: 4;
}

.form-container .field-info div.error-pointer {
	
	background-image: url("../images/error-pointer.png");
	background-repeat: no-repeat;
	float: left;
	position: absolute;
	height: 18px;
	width: 18px;
	z-index: 3;
}


.form-container .field-info div.help-cell {
	
	margin-left: 17px;
	padding: 0px 0px 3px 3px;
	position: absolute;
	width: 98%;
	z-index: 4;
}

.form-container .field-info div.help-cell div.help-cell-header {
	
	border-bottom: 0px solid black;
	float: left;
	margin-left: -3px;
	padding-left: 3px;
	width: 100%;
}

.form-container .field-info div.help-cell div.help-cell-header .help-cell-close-icon {
	float: right;
	margin: 3px 3px 3px 0px;
}

.form-container .field-info div.help-cell div.help-cell-header .help-cell-close-icon:hover {
	cursor: pointer;
}

.form-container .field-info div.error-cell {
	
	margin-left: 17px;
	padding: 0px 0px 3px 3px;
	position: absolute;
	width: 98%;
	z-index: 3;
}


.form-container input[type=text] {

	border: 1px #79b7e7 solid;
	margin: 0px;
	padding: 3px;
	width: 222px;
}

.form-container select {

	border: 1px #79b7e7 solid;
	margin: 0px;
	padding: 1px 0px 1px 3px;
	width: 230px;
}

.form-container input[type=text]:focus {

	background-color: #dfeffc;
	border: 1px #e17009 solid;
	padding: 3px;
}

.form-container select:focus {

	background-color: #dfeffc;
	border: 1px #e17009 solid;
}


.form-container .clear {
	float: none;
	clear: both;
	height: 0px;
}

.form-container .field-row .field-info {
	float: left;
	margin: 0px 5px 0px 0px;
	padding: 2px;
	position:relative;
	width: 445px;
}

.form-container .fieldset-divider {
	border-top: 1px #79b7e7 dashed;
	width: 100%;
}

.form-container .field-tip {
	display: inline-block;
}


.form-container .form-button-set {
	text-align: right;
}

.form-container .form-button-set input[type=button] {
	/*Added Margins for buttons */
	margin: 2px 0px 6px 6px;
}

#notificationContactEmails input[type=text] {
	margin-bottom: 6px;
}

#notificationContactEmails + input[type=button] {
	margin: 0em 0em 0em .2em;
	padding: .2em;
}

.help-item {
	padding: 6px;
}

.help-item-header {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}

.help-item-desc {
	
}

/* Home page CSS Selectors */

#itemSummaryList {
	list-style: none;
	padding: 2px 6px;
}

/* End - Home page CSS Selectors */


/*
#itemAttentionQueueTable {
	padding: .5em;
	width: 100%;
}

#itemAttentionQueueTable tr.family-row td {
	padding-top: 20px;
}

#itemAttentionQueueTable .item-num-col {
	width: 25%;
}

#itemAttentionQueueTable .desc-col {
	width: 50%;
}

#itemAttentionQueueTable .status-col {
	width: 25%;
}
*/

/*
.question-block p {
	border-top: 1px black solid;
	margin-bottom: 2em;
}

.question-block a {
	color: #222222;
}

.question-active {
	color: #2e6e9e;
	display: block;
	font-weight: bold; 
	margin-bottom: .6em;
}

.question-answered {
	color: black;
	display: block;
	margin-bottom: .6em;

}

.question-select {
	vertical-align: middle;
}

.question-select option {
	border-right: 1px black solid;
	border-left: 1px black solid;
	padding: 0px 3px;
	vertical-align: middle;
}

.show-all-options {
	border-top: 1px black dashed;
}
*/

input[type=radio] + label {
	margin-right: 10px;
}

.paging-controls {
	text-align: right;
}




/* SSR Item List Results Page */
#ssrItemList {
	margin: 12px 0px;
}

#ssrItemList div.table-header {
	border-bottom: black solid 1px;
}

#ssrItemList div table {
	width: 100%;
}

#ssrItemList td.action-icon-col, #ssrItemList th.action-icon-col {
	width: 8%;
}

#ssrItemList td.action-icon-col div {
	display: inline-block;
}

#ssrItemList td.item-nbr-col, #ssrItemList th.item-nbr-col {
	width: 12%;
}

#ssrItemList td.supplier-col, #ssrItemList th.supplier-col {
	width: 15%;
}

#ssrItemList td.status-col, #ssrItemList th.status-col {
	width: 15%;
}

#ssrItemList td.item-desc-col, #ssrItemList th.item-desc-col {
	width: 30%;
}

#ssrItemList td.annual-forcast-col, #ssrItemList th.annual-forcast-col {
	width: 20%;
}
/* End - SSR Item List Resutls Page */